<form *ngIf="!(loading$|async)" class="user-form w-100" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="mb-20 font-size-20"><span class="primary-color font-size-20 font-weight-600">User Form</span></div>
    <div class="text-secondary mb30">Please fill in the following information:</div>
    <div class="form-container" fxLayout="column" fxLayoutAlign="center start">
      <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column" class="w-100">
        <div class="w-100">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>First Name</mat-label>
            <input required matInput placeholder="First Name" formControlName="firstName">
            <mat-error *ngIf="hasError(userForm,'firstName','required')">First Name is required.</mat-error>
          </mat-form-field>
        </div>
        <div class="w-100">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" formControlName="lastName">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row"  fxLayoutGap="20px" fxLayout.lt-md="column" class="w-100">
        <div class="w-100">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Email</mat-label>
            <input required matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="hasError(userForm,'email','required')">Please enter a valid email.</mat-error>
          </mat-form-field>
        </div>
        <div class="w-100">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Country</mat-label>
              <input required matInput placeholder="Country" formControlName="country">
              <mat-error *ngIf="hasError(userForm,'country','required')">Country is required.</mat-error>
            </mat-form-field>
          </div>
      </div>
      <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column" class="w-100">
        <div class="w-100">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Street</mat-label>
            <input matInput placeholder="Street" formControlName="street">
          </mat-form-field>
        </div>
        <div class="w-100">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>House</mat-label>
            <input matInput placeholder="House" formControlName="house">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column" class="w-100">
        <div class="w-100">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>ZIP</mat-label>
            <input matInput placeholder="ZIP" formControlName="zip">
          </mat-form-field>
        </div>
        <div class="w-100">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>City</mat-label>
            <input matInput placeholder="City" formControlName="city">
          </mat-form-field>
        </div>
      </div>
     
      <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column" class="w-100">
        <div class="w-100">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput placeholder="Phone" formControlName="phone">
          </mat-form-field>
        </div>
        <div class="w-100">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Mobile</mat-label>
            <input matInput placeholder="Mobile" formControlName="mobile">
          </mat-form-field>
        </div>
      </div>
   
      <div class="w-100" fxLayout="row" fxLayout.lt-md="column">
        <div class="button__wrapper w-100" fxLayout="row"  fxLayoutAlign="space-between center">
            <button (click)="onBack()" class="btn btn-secondary" mat-stroked-button color="primary" >
              Back
            </button>
            <button class="btn" mat-button color="primary" >Submit</button>
          </div>
      </div>
    </div>
  </form>
  