// Color Palette
$primary-color: #007dfe;
$secondary-color: #FF9800;
$accent-color: #9C27B0;
$text-color: #212121;
$background-color: #F5F5F5;
$secondary-btn-color: #e9dfdf;

// Material Design Palette
$shadow:#bbd9f642;
$primary-light: lighten($primary-color, 20%);
$primary-dark: darken($primary-color, 20%);

$secondary-light: lighten($secondary-color, 20%);
$secondary-dark: darken($secondary-color, 20%);

$accent-light: lighten($accent-color, 20%);
$accent-dark: darken($accent-color, 20%);

// Success and Error Colors
$success-color: #4CAF50;
$error-color: #FF5252;
