@font-face {
    font-family: 'Robotto';
    src: url('../assets/fonts/FontinSans/Fontin_Sans_R.otf') format('opentype');
}

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: 'Robotto, sans-serif',
        $headline: mat-typography-level(32px, 48px, 700),
        $body-1: mat-typography-level(16px, 24px, 500));
@include angular-material-typography($custom-typography);

$custom-main-color: $primary-color;
$custom-label-color: rgba(0, 0, 0, .6);

// mat-icon-stepper selected color change
.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
    background-color: $custom-main-color !important;
}

// input outline color
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: $custom-main-color !important;
}

// mat-input focused color
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: $custom-main-color !important;
}


// mat-input caret color
.mat-input-element {
    caret-color: $custom-main-color !important;
}



// mat-label normal state style
.mat-form-field-label {
    color: $custom-label-color !important;
}

// mat-label focused style
.mat-form-field.mat-focused .mat-form-field-label {
    color: $custom-main-color !important;
}

.mat-form-field-flex>.mat-form-field-infix {
    padding: 0.4em 0px !important;
}

.mat-form-field-label-wrapper {
    top: -1.5em;
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

.mat-toolbar.mat-primary {
    background-color: white;
    color: $text-color;
}

.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {

    & .mat-icon {
        color: $primary-color;
    }
}

.mat-button.mat-warn,
.mat-icon-button.mat-warn,
.mat-stroked-button.mat-warn {
    color: $error-color !important;
}

a.mat-list-item.mat-focus-indicator {
    max-width: 95%;
    margin: 0 auto;
    border-radius: 4px;
}

a.mat-list-item.mat-focus-indicator.active {
    background-color: $primary-color !important;
    color: white;
}

a.mat-list-item.mat-focus-indicator.active:hover {
    background-color: $primary-color !important;
    color: white;
}

.mat-icon.notranslate.sidenav-icon.material-icons {
    color: white !important;
}

.mat-icon {
    font-size: 18px !important;
}

.mat-button-wrapper {
    display: flex !important;
    justify-content: center !important;
}

.mat-icon.sidenav-icon.material-icons {
    font-size: 18px !important;
    width: 18px !important;
    ;
    height: 18px !important;
}

.mat-nav-list {
    margin-top: 20px;

}

.mat-paginator-container {
    justify-content: space-between !important;
    padding: 0px 20px !important;
}

.mat-focus-indicator.mat-raised-button.mat-button-base.mat-primary {
    background-color: $primary-color;
}

.mat-button-wrapper {

    align-items: center !important;

}

.mat-raised-button .mat-button-wrapper {

    .mat-icon {
        font-size: 18px !important;

        height: 20px !important;
    }
}