<div class="users-container" fxLayout="column" fxLayoutGap="20px">
  <div class="w-100" fxLayout="row" fxLayoutAlign="end center">
      <button class="btn" [routerLink]="['add-user']" mat-raised-button color="primary">
          <mat-icon>add</mat-icon>
          <span>Add User</span>
      </button>
  </div>
  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let user">{{ user.firstName }}</td>
      </ng-container>
  
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let user">{{ user.lastName }}</td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let user">{{ user.email }}</td>
      </ng-container>
  
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef>Country</th>
        <td mat-cell *matCellDef="let user">{{ user.country }}</td>
      </ng-container>
  
      <ng-container matColumnDef="street">
        <th mat-header-cell *matHeaderCellDef>Street</th>
        <td mat-cell *matCellDef="let user">{{ user.street }}</td>
      </ng-container>
  
      <ng-container matColumnDef="house">
        <th mat-header-cell *matHeaderCellDef>House</th>
        <td mat-cell *matCellDef="let user">{{ user.house }}</td>
      </ng-container>
  
      <ng-container matColumnDef="zip">
        <th mat-header-cell *matHeaderCellDef>Zip</th>
        <td mat-cell *matCellDef="let user">{{ user.zip }}</td>
      </ng-container>
  
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef>City</th>
        <td mat-cell *matCellDef="let user">{{ user.city }}</td>
      </ng-container>
  
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef="let user">{{ user.phone }}</td>
      </ng-container>
  
      <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef>Mobile</th>
        <td mat-cell *matCellDef="let user">{{ user.mobile }}</td>
      </ng-container>
  
      <ng-container matColumnDef="IsAdmin">
        <th mat-header-cell *matHeaderCellDef>IsAdmin</th>
        <td mat-cell *matCellDef="let user">{{ !user.isAdmin }}</td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let user">
          <button (click)="navigateToAddUser(user.id)" mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="openDeleteModal()">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let user; columns: displayedColumns;"></tr>
    </table>
  
    <div class="paginator-wrapper">
      <mat-paginator #paginator class="demo-paginator" [length]="10" [pageSize]="10" [showFirstLastButtons]="true"
      [pageSizeOptions]=" []" [hidePageSize]="false" [pageIndex]="1" aria-label="Select page">
    </mat-paginator>
    </div>
  </div>
</div>



