<div class="container">

    <div fxLayout="column" class="main-content" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="center center">
            <div>
                <span class="font-size-20 primary-color">You have successfully registered to out account</span>
            </div>
            <div>
                <span class="text-secondary">Please navigate to our login page and fill up the credentials</span>
            </div>
        </div>
        <div class="w-100" fxLayout="column" fxLayoutAlign="center center">
            <div style="height: 400px;">
                <img src="assets/images/success.jpg" style="object-fit: cover;width: 100%;height: 100%;display: block;">
            </div>
            <button class="btn naviation-btn" routerLink="/login" fxLayout="row" fxLayoutAlign="center center" mat-raised-button color="primary">
                <span>Login</span>
            </button>
        </div>
    </div>
   
</div>